.galleryContainer {
  column-count: 1;
  column-gap: 2rem;
}

@media (--screen-xs) {
  .galleryContainer {
    column-count: 2;
  }
}

@media (--screen-md) {
  .galleryContainer {
    column-count: 3;
  }
}

.galleryCard {
  width: 100%;
  object-fit: cover;
  display: block;
  margin-bottom: 2rem;
}

.gallerySection {
  padding-top: 8rem;
}
