.galleryContainer {
  display: flex;
  margin-left: -2rem;
  width: auto;
}

.galleryColumn {
  padding-left: 2rem;
  background-clip: padding-box;
}

.galleryCard {
  width: 100%;
  display: block;
  margin-bottom: 2rem;
}

.gallerySection {
  padding-top: 8rem;
}
