.button,
button,
input[type="submit"],
input[type="reset"] {
  cursor: pointer;
  border-radius: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.875rem;
  padding-bottom: 0.875rem;
  min-height: 44px;
  min-width: 44px;
  border: none;
  box-sizing: border-box;
}

.primaryButton {
  background: var(--color-content-primary);
}

.primaryButton:hover {
  opacity: 0.9;
}

.tertiaryButton {
  background-color: transparent;
}
