.core-flex {
  display: flex;
}

.core-flex-column {
  flex-direction: column;
}

.core-flex-row {
  flex-direction: row;
}

.core-flex-justify-center {
  justify-content: center;
}

.core-flex-justify-start {
  justify-content: start;
}

.core-flex-justify-end {
  justify-content: end;
}

.core-flex-align-center {
  align-items: center;
}

.core-flex-align-start {
  align-items: start;
}

.core-flex-align-end {
  align-content: end;
}
