.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  min-height: 4rem;
  display: flex;
  align-items: center;
  backdrop-filter: blur(5px);
}

@media (--screen-md) {
  .header {
    backdrop-filter: blur(0px);
  }
}

.nav {
  padding-left: 1rem;
}

@media (--screen-md) {
  .nav {
    padding-left: 4rem;
  }
}

.navLink {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navLink a:hover {
  color: red;
}
