h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
}

.headingH1 {
  font-size: 2rem;
}

.headingH2 {
  font-size: 1.75rem;
}

.headingH3 {
  font-size: 1.5rem;
}

.headingH4 {
  font-size: 1.25rem;
}

.headingH5 {
  font-size: 1rem;
}

.headingH6 {
  font-size: 0.875rem;
}

@media (--screen-xs) {
  .headingH1 {
    font-size: 3rem;
  }

  .headingH2 {
    font-size: 2.25rem;
  }

  .headingH3 {
    font-size: 1.875rem;
  }

  .headingH4 {
    font-size: 1.5rem;
  }

  .headingH5 {
    font-size: 1.125rem;
  }
}

@media (--screen-sm) {
  .headingH1 {
    font-size: 4rem;
  }

  .headingH2 {
    font-size: 3rem;
  }

  .headingH3 {
    font-size: 2.25rem;
  }

  .headingH4 {
    font-size: 1.75rem;
  }

  .headingH5 {
    font-size: 1.375rem;
  }

  .headingH6 {
    font-size: 1.125rem;
  }
}

@media (--screen-md) {
  .headingH1 {
    font-size: 5rem;
  }

  .headingH2 {
    font-size: 3.5rem;
  }

  .headingH3 {
    font-size: 2.5rem;
  }

  .headingH4 {
    font-size: 2rem;
  }

  .headingH5 {
    font-size: 1.5rem;
  }

  .headingH6 {
    font-size: 1.25rem;
  }
}

.body1 {
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--color-text-primary);
}

@media (--screen-md) {
  .body1 {
    font-size: 1.5rem;
  }
}
